{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block head %}
<div class=title>Login</div>
{% endblock %}
{% block content %}
	<form method="post">
		<label class=left-label>Username</label>
		<input type="text" name="username" value={{username}}></input>
		<label class=error>{{error}}</label>
		<br>
		<label class=left-label>Password</label>
		<input type="password" name="password" value={{password}}></input>
		<br><br>
		<div class=input><input type="submit"/></div>
	</form>
{% endblock %}